{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>registration</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit"></button>
    {{ form_end(form) }}
{% endblock %}
